.footer {
  margin-top: 250px;
  position: relative;
  background-color: #1b2631;
  color: white;
  height: 400px;
  padding-top: 30px;
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
}

.footer-logo {
  height: 100px;
  width: 400px;
}

li {
  list-style-type: none;
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 1250px;
  }
}
